@media screen and (max-width: 992px) {
    .cuadricula{
        width: 600px; !important;
        height: 500px; !important
    }
}

    
}

body {
    margin: 0;
    padding: 0;
}

.cuadricula {
    width: 800px;
    height: 600px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.cuadricula :nth-child(8) {
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
}

.cuadricula > div {
    background-color: orange;
    border: 1px solid brown;
    border-radius: 15px;
    padding: 10px;
}

.cuadricula > div > span {
    background-color: darkblue;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 15px;
}
main {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

img {
    height: 90px;
}